/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* @media (max-width: 1650px) {
  .container {
    padding: 0 15px;
  }

  .nav__list {
    gap: 50px;
  }

  .nav__item:last-child {
    margin-right: 245px;
  }

  .hero__content {
    padding-top: 60px;
    padding-bottom: 41px;
  }

  .figure__figcaption {
    padding-left: 10px;
  }

  .item__descr[data-margin="98"] {
    margin-bottom: 66px;
  }

  .contacts__btn {
    margin-top: 20px;
  }
} */

@media (max-width: 1700px) {
  .container {
    padding: 0 40px;
  }

  .nav__list {
    gap: 60px;
  }

  .hero__content {
    padding-bottom: 50px;
    padding-top: 70px;
  }

  .hero__descr {
    margin-bottom: 60px;
  }

  .contacts__input:first-child {
    margin-bottom: 20px;
  }

}

@media (max-width: 1400px) {
  .container {
    padding: 0 50px;
  }

  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .nav__btn {
    position: absolute;
    top: 39px;
    right: 50px
  }

  .header__logo {
    margin-bottom: 22px;
  }

  .nav__item:last-child {
    margin-right: 0;
  }

  .nav__list {
    width: 100%;
    gap: 96px;
  }

  .hero {
    background-image: url(../img/hero-bg1024.jpg);
    padding-bottom: 104px;
  }

  .hero__content {
    max-width: 659px;
    padding-top: 100px;
    padding-bottom: 0;
  }

  .hero__descr {
    margin-bottom: 129px;
  }

  .hero__btn {
    padding: 24px 35px;
  }

  .about {
    padding-top: 76px;
  }

  .gallery__title {
    margin-bottom: 16px;
  }

  .images__1,
  .images__2,
  .images__3 {
    margin-right: 0;
  }

  .images__1,
  .images__2 {
    margin-right: 50px;
  }

  .gallery__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }

  .gallery__container {
    display: block;
  }

  .gallery__left {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .gallery {
    background-image: url(../img/gallery-bg1024.jpg);
  }

  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .figure__img {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .figure__descr {
    max-width: 924px;
  }

  .item__picture {
    /* max-width: 290px; */
    min-height: 180px;
  }

  .event {
    padding-top: 71px;
  }

  .event__item:not(:last-child) {
    margin-right: 25px;
  }

  .item__wrapper {
    padding: 14px 34px 49px 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item__small {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-bottom: 3px;
  }

  .item__descr {
    width: 222px;
  }

  .item__btn {
    -ms-flex-item-align: start;
    align-self: flex-start;
  }

  .item__descr[data-margin="66"] {
    margin-bottom: 52px;
  }

  .item__descr[data-margin="65"] {
    margin-bottom: 20px;
  }

  .item__descr[data-margin="98"] {
    margin-bottom: 53px;
  }

  .projects__title {
    margin-bottom: 14px;
  }

  .projects__descr {
    margin-bottom: 20px;
  }

  .partners__img:first-child {
    margin-right: 23px;
  }

  .contacts__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .contacts__title {
    margin-bottom: 10px;
  }

  .contacts__text {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .contacts__btn {
    margin-top: 0;
  }

  .contacts__form {
    margin-bottom: 33px;
  }

  .contacts__input:first-child {
    margin-bottom: 0;
  }

  .footer__svg {
    width: 58px;
    height: 55px;
  }
}

@media (max-width: 1023px) {
  .nav__list {
    gap: 44px;
  }

  .hero {
    background-image: url(../img/hero-bg768.png);
  }

  .hero__content {
    padding-top: 86px
  }

  .hero__descr {
    max-width: 558px;
  }

  .about {
    padding-top: 60px;
  }

  .figure__time {
    margin-bottom: 4px;
  }

  .event__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .item__picture {
    max-width: 1023px;
  }

  .event__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .item__title {
    max-width: 493px;
    margin-bottom: 15px;
  }

  .item__title br {
    display: none;
  }

  .item__small {
    margin-bottom: 6px;
  }

  .item__descr {
    max-width: 600px;
    width: 600px;
  }

  .item__descr[data-margin="65"] {
    margin-bottom: 51px;
  }

  .item__descr[data-margin="98"] {
    margin-bottom: 48px;
  }

  .projects__descr {
    margin-bottom: 27px;
  }

  .partners__title {
    margin-bottom: 30px;
  }

  .partners__images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contacts {
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .contacts__title {
    margin-bottom: 2px;
  }

  .contacts__input {
    width: 324px;
    margin-right: 7px;
    margin-bottom: 12px;
  }

  .footer {
    padding-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }

  .header {
    padding-top: 16px;
    padding-bottom: 12px;
  }

  .nav__btn {
    top: 12px;
    right: 10px;
  }

  .nav__svg {
    padding: 5px;
  }

  .header__logo {
    margin-bottom: 6px;
  }

  .nav__link {
    font-size: 12px;
    font-weight: 700;
  }

  .header__nav {
    max-width: 100%;
  }

  .nav__list {
    overflow-x: scroll;
    gap: 22px;
  }

  .hero {
    background-image: url(../img/hero-bg320.jpg);
    padding-bottom: 46px;
  }

  .hero__title {
    margin-bottom: 10px;
    font-size: 32px;
    line-height: 28px;
    text-align: center;
  }

  .hero__descr {
    min-width: 264px;
    margin-bottom: 40px;
    margin-right: 0;
    padding-left: 24px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }

  .hero__content {
    min-width: 290px;
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  .hero__btn {
    min-height: 40px;
    padding: 11px 16.13px 14.45px 19.14px;
    font-size: 12px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 41px;
  }

  .about__title {
    margin-bottom: 12px;
    font-size: 28px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding-top: 48px;
    background-image: url(../img/gallery-bg320.jpg);

  }

  .gallery__title {
    font-size: 28px;
  }

  .gallery__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
  }

  .images__1,
  .images__2 {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .catalog {
    padding-top: 30px;
  }

  .catalog__title {
    font-size: 28px;
  }

  .catalog__descr {
    min-width: 290px;
    margin-bottom: 30px;
  }

  .figure__img {
    margin-bottom: 17px;
  }

  .figure__title {
    margin-bottom: 6px;
    max-width: 285px;
  }

  .figure__time {
    margin-bottom: 13px;
  }

  .catalog__figure:not(:last-child) {
    margin-bottom: 30px;
  }

  .event {
    padding-top: 50px;
  }

  .event__title {
    font-size: 28px;
  }

  .item__wrapper {
    padding: 17px 23px 49px 23px;
  }

  .item__title {
    min-width: 244px;
    margin-bottom: 6px;
  }

  .item__title br {
    display: unset;
  }

  .item__descr {
    width: 244px;
  }

  .event__item:not(:last-child) {
    margin-bottom: 17px;
  }

  .item__descr[data-margin="66"] {
    margin-bottom: 48px;
  }

  .item__descr[data-margin="65"] {
    margin-bottom: 50px;
  }

  .item__descr[data-margin="98"] {
    margin-bottom: 51px;
  }

  .projects__title {
    font-size: 28px;
  }

  .projects {
    padding-top: 49px;
    padding-bottom: 0;
    border-bottom: none;
  }

  .projects__descr {
    min-width: 290px;
  }

  .partners__title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .projects__descr {
    margin-bottom: 52px;
  }

  .partners__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .partners__picture {
    margin-bottom: 12px;
  }

  .partners__picture:first-child {
    margin-right: 0;
  }

  .contacts {
    padding-top: 43px;
    padding-bottom: 47px;
  }

  .contacts__title {
    margin-bottom: 0;
    font-size: 18px;
    line-height: normal;
  }

  .contacts__text {
    margin-bottom: 6px;
  }

  .contacts__input {
    width: 290px;
    height: 40px;
  }

  .contacts__input:first-child {
    margin-bottom: 20px;
  }

  .contacts__input::-webkit-input-placeholder {
    width: 186px;
    padding: 4px 80px 4px 24px;
  }

  .contacts__input::-moz-placeholder {
    width: 186px;
    padding: 4px 80px 4px 24px;
  }

  .contacts__input:-ms-input-placeholder {
    width: 186px;
    padding: 4px 80px 4px 24px;
  }

  .contacts__input::-ms-input-placeholder {
    width: 186px;
    padding: 4px 80px 4px 24px;
  }

  .contacts__input::placeholder {
    width: 186px;
    padding: 4px 80px 4px 24px;
  }

  .contacts__span {
    display: none;
  }

  .contacts__btn {
    padding: 11px 33px;
    font-size: 12px;
  }

  .contacts__form {
    margin-bottom: 20px;
  }

  .right__text {
    font-size: 18px;
    font-weight: 400;
  }

  .right__svg {
    width: 50px;
    height: 50px
  }

  .contacts__wa {
    margin-right: 16px;
  }

  .footer {
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__social {
    margin-bottom: 18px;
  }

  .footer__svg {
    width: 50px;
    height: 50px;
  }
}
